#include("header.html")
<article>
  <h1 class="t_nav"><span>像“草根”一样，紧贴着地面，低调的存在，冬去春来，枯荣无恙。</span><a href="/" class="n1">网站首页</a><a href="/" class="n2">关于我</a></h1>
  <div class="ab_box">
    <div class="leftbox">
      <div class="newsview">
        <div class="news_infos">
         	#(adminUser.about)
        </div>
      </div>
    </div>
    
   
    <div class="rightbox">
      <div class="aboutme">
        <h2 class="hometitle">关于我</h2>
        <div class="avatar"> <img src="#(adminUser.headImg??"/_view/templates/morning/images/avatar.jpg")" alt=""> </div>
        <div class="ab_con">
          <p>网名：#(adminUser.name)</p>
          <p>职业：#(adminUser.abposition) </p>
           
          <p>邮箱：#(adminUser.email)</p>
        </div>
      </div>
     <!--  <div class="weixin">
        <h2 class="hometitle">微信关注</h2>
        <ul>
          <img src="/_view/templates/morning/images/wx.jpg">
        </ul>
      </div>-->
    </div>
  </div>
</article>
#include('footer.html')
