<footer>
  <p>Design by <a href="/">#(config.author)</a> <a href="/">#(config.ICPRecord)</a></p>
</footer>
<script src="/_view/templates/morning/js/nav.js"></script>

 
<script src="//cdn.bootcss.com/highlight.js/9.10.0/highlight.min.js"></script>
 
<script src="/_view/templates/pinghsu/static/js/instantclick.min.js?v20140319'"></script>
 
<script src="//cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js"></script>
 
<script>

 

hljs.initHighlightingOnLoad();

 
if ('addEventListener' in document) {
    document.addEventListener('DOMContentLoaded', function() {
        FastClick.attach(document.body);
    }, false);
}
 
</script>
 
<script data-no-instant>
    InstantClick.on('change', function (isInitialLoad) {
    	
    	$(".news_infos pre").each(function(){
    		var preHtml=$(this).html();
    		$(this).html("");
    		$(this).append("<code></code>");
    		$(this).find("code").html(preHtml);
    	})
    	
        var blocks = document.querySelectorAll('pre code');
        for (var i = 0; i < blocks.length; i++) {
            hljs.highlightBlock(blocks[i]);
        }
        if (isInitialLoad === false) {
            if (typeof ga !== 'undefined') ga('send', 'pageview', location.pathname + location.search);
            if (typeof MathJax !== 'undefined'){MathJax.Hub.Queue(["Typeset",MathJax.Hub]);}
        }
        baiduPush();
    });
    InstantClick.init('mousedown');
    
    //百度自动推送
    function baiduPush(){
  	   	 var bp = document.createElement('script');
         var curProtocol = window.location.protocol.split(':')[0];
         if (curProtocol === 'https') {
             bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
         }
         else {
             bp.src = 'http://push.zhanzhang.baidu.com/push.js';
         }
         var s = document.getElementsByTagName("script")[0];
         s.parentNode.insertBefore(bp, s);
    }
</script>

</body>
</html>