#include("header.html")
<div class="picshow">
  <ul> 
  	#for(article:articleTopList)
  	<li>
  		<a href="/a/#(article.identify)"><i><img src="#(article.thumbImg)"></i>
	      <div class="font">
	        <h3>#(article.title)</h3>
	      </div>
        </a>
     </li>
  	#end
  </ul>
</div>
<article>
  <div class="blogs">
  	#for(article:articlePage.list)
  	 <li> 
  	 	#if(article.thumbImg!=null)
  	 		<span class="blogpic"><a href="/a/#(article.identify)"><img src="#(article.thumbImg)"></a></span>
  	 	#end
      <h3 class="blogtitle"><a href="/a/#(article.identify)">#(article.title)</a></h3>
      <div class="bloginfo">
        <p>#(article.intro)...</p>
      </div>
      <div class="autor">
      	<span class="lm">
      		#for(meta:article.metas)
      		  <a href="/c/1-#(meta.id)" title=#(meta.mname)" target="_blank" class="classname">
      			#(meta.mname)
      		  </a>
      			#if(!for.last)|#end 
      		#end
      	</span>
      	<span class="dtime">#(article.gmtCreate)</span>
      	<span class="viewnum">浏览（<a href="/">#(article.pv)</a>）</span>
      	<span class="readmore">
      		<a href="/a/#(article.identify)">阅读原文</a>
      	</span>
      </div>
    </li>
  	#end
  	  <div class="pagelist">
	    	 
	    	   #for(pageNum=1;pageNum<=articlePage.totalPage;pageNum++)
					#if(pageNum == currentPageNum) 
						<b>#(pageNum)</b>
					#else
						&nbsp;<a href="/#(pageNum)">#(pageNum)</a>
			    	#end
			    #end
	   	  #if(!articlePage.isFirstPage())
		    &nbsp;	 <a href="/#(currentPageNum-1)">上一页</a></li>
		  #end
		  #if(!articlePage.isLastPage())
			   &nbsp;  <a href="/#(currentPageNum+1)">下一页</a> 
			     &nbsp;<a href="/#(articlePage.totalPage)">尾页</a>
		  #end
		</div>
  </div>
  <div class="sidebar">
    <div class="about">
      <div class="avatar"> <img src="#(adminUser.headImg??"/_view/templates/morning/images/avatar.jpg")" alt=""> </div>
      <p class="abname">#(adminUser.name)</p>
      <p class="abposition">#(adminUser.abposition)</p>
      <div class="abtext">#(adminUser.description) </div>
    </div>
    <div class="search">
      <form action="/search" method="get" name="searchform" id="searchform">
        <input name="keyword" id="keyboard" value="#(keyword)" class="input_text" value="请输入关键字" style="color: rgb(153, 153, 153);" onfocus="if(value=='请输入关键字'){this.style.color='#000';value=''}" onblur="if(value==''){this.style.color='#999';value='请输入关键字'}" type="text">
        <input name="Submit" class="input_submit" value="搜索" type="submit">
      </form>
    </div>
    <div class="cloud">
      <h2 class="hometitle">标签云</h2>
      <ul>	
      	#for(tag:tags)
      	 <a href="/c/1-#(tag.id)">#(tag.mname)</a>
      	#end
      </ul>
    </div>
    <div class="paihang">
      <h2 class="hometitle">点击排行</h2>
      <ul>
     	#for(article:hotArticles)
    	 <li>
    	   <b><a href="/a/#(article.identify)" target="_blank">#(article.title)...</a></b>
           <p>
           		#if(article.thumbImg!=null)
           			<i><img src="#(article.thumbImg)"></i>
           		#end
           	 	#(article.intro)...
           	</p>
         </li>
     	#end
      </ul>
    </div>
 
    <!-- <div class="weixin">
      <h2 class="hometitle">官方微信</h2>
      <ul>
        <img src="/_view/templates/morning/images/wx.jpg">
      </ul>
    </div>-->
  </div>
</article>
<div class="blank"></div>

<script type="text/javascript">

</script>
#include('footer.html')
