 @charset "utf-8";
.picshow { width: 100%; overflow: hidden; margin: 20px auto; }
.picshow li { width: 20%; display: inline-block; float: left; overflow: hidden; position: relative; }
.picshow li i { overflow: hidden; display: block; height: 400px; }
.picshow li img { display: block; width: 100%; transition: all .5s; }
.picshow li:hover img { transform: scale(1.05, 1.05); opacity: 1; }
.picshow li:hover .font::before, .picshow li:hover .font::after { opacity: 1; transform: scale(1); transition: all 0.5s; }
.picshow li .font { color: #fff; padding: 0; margin: 0; -moz-backface-visibility: hidden; -webkit-backface-visibility: hidden; backface-visibility: hidden; -webkit-transition: all .4s ease-in-out; -moz-transition: all .4s ease-in-out; -o-transition: all .4s ease-in-out; -ms-transition: all .4s ease-in-out; transition: all .4s ease-in-out; overflow: hidden }
.picshow li .font::before, .picshow li .font::after { position: absolute; content: ''; opacity: 0; -webkit-transition: opacity 0.4s, -webkit-transform .4s; -moz-transition: opacity 0.4s, -moz-transform .4s; -o-transition: opacity 0.4s, -o-transform .4s; transition: opacity 0.4s, transform .4s }
.picshow li .font::before { top: 14%; right: 5%; bottom: 14%; left: 5%; border-top: 1px solid #fff; border-bottom: 1px solid #fff; -webkit-transform: scale(0, 1); -moz-transform: scale(0, 1); -o-transform: scale(0, 1); transform: scale(0, 1); -webkit-transform-origin: 0 0; -moz-transform-origin: 0 0; -o-transform-origin: 0 0; transform-origin: 0 0 }
.picshow li .font::after { top: 8%; right: 10%; bottom: 8%; left: 10%; border-right: 1px solid #fff; border-left: 1px solid #fff; -webkit-transform: scale(1, 0); -moz-transform: scale(1, 0); -o-transform: scale(1, 0); transform: scale(1, 0); -webkit-transform-origin: 100% 0; -moz-transform-origin: 100% 0; -o-transform-origin: 100% 0; transform-origin: 100% 0 }
.picshow li .font h3 { font-size: 16px; font-weight: 700; text-align: center; width: 80%; position: absolute; top: 50%; left: 10%; background: rgba(0,0,0,0.5); line-height: 1.9; -webkit-transition: all .5s ease-in-out; -moz-transition: all .5s ease-in-out; -o-transition: all .5s ease-in-out; -ms-transition: all .5s ease-in-out; transition: all .5s ease-in-out; overflow: hidden; opacity: 0 }
.picshow li:hover .font h3 { top: 45%; opacity: 1 }
article { width: 1200px; margin:20px auto }
/* rightbox */
.blogs { float: left; width: 70%; overflow: hidden; }
.blogs li { margin-bottom: 10px; overflow: hidden; padding: 20px; background: #fff }
h3.blogtitle { line-height: 30px; height: 30px; margin: 10px 0; }
.blogpic { overflow: hidden; width: 30%; display: block; float: left; margin-right: 20px; border-radius: 5px; ; }
.autor { width: 100%; overflow: hidden; clear: both; margin: 20px 0 0 0; display: inline-block; color: #838383; font-size: 12px }
.autor span { margin-right: 10px; padding-left: 20px }
.autor span a { color: #096; }
.autor span a:hover { text-decoration: underline }
.lm { background: url(../images/newsbg01.png) no-repeat left center }
.dtime { background: url(../images/newsbg02.png) no-repeat left center }
.viewnum { background: url(../images/newsbg04.png) no-repeat left center }
.pingl { background: url(../images/newsbg03.png) no-repeat left center }
.blogpic img { width: 100% }
.bloginfo p { color: #888; line-height: 24px }
.more { font-size: 14px; }
.pages { padding: 0 60px 25px; text-align: right }
.pages span { background: #B29C77; color: #fff; }
.pages a { background: #fff; color: #454545; padding: 5px 8px; border: none; margin: 0 0 0 5px; }
.pages span { padding: 5px 8px; border: none; margin: 0 0 0 5px; }
.pages a:hover { background: #CCC; }
.sidebar { float: right; width: 28%; overflow: hidden; position: relative }
.about { background: #FFF url(../images/banner.png) no-repeat top center; overflow: hidden; }
.avatar { margin: 80px auto 20px; width: 100px }
.avatar img { width: 100px; border-radius: 50% }
.abname { color: #3f3f3f; font-weight: bold; font-size: 16px; margin-bottom: 10px; text-align: center }
.abposition { color: #1abc9c; text-align: center }
.abtext { padding: 20px 40px; color: #9a9a9a; line-height: 26px }
.readmore { float: right; }
/*search*/
.search { background: #FFF; overflow: hidden; padding: 20px; margin: 20px 0 }
.input_text { padding-left: 5px; border: 1px solid #ccc; width: 70%; height: 26px; line-height: 26px; background-color: #f2f2f2; float: left; }
.input_submit { background-color: #333; color: #FFF; float: left; width: 20%; border: none; cursor: pointer; height: 28px; line-height: 28px; }
/*tags*/
.cloud { width: 100%; clear: both; overflow: hidden; background: #fff; margin-bottom: 20px }
.cloud ul { padding: 20px; overflow: hidden; }
.cloud ul a { line-height: 24px; height: 24px; display: block; background: #999; float: left; padding: 3px 11px; margin: 10px 10px 0 0; border-radius: 8px; -moz-transition: all 0.5s; -webkit-transition: all 0.5s; -o-transition: all 0.5s; transition: all 0.5s; color: #FFF }
.cloud ul a:nth-child(8n-7) { background: #8A9B0F }
.cloud ul a:nth-child(8n-6) { background: #EB6841 }
.cloud ul a:nth-child(8n-5) { background: #3FB8AF }
.cloud ul a:nth-child(8n-4) { background: #FE4365 }
.cloud ul a:nth-child(8n-3) { background: #FC9D9A }
.cloud ul a:nth-child(8n-2) { background: #EDC951 }
.cloud ul a:nth-child(8n-1) { background: #C8C8A9 }
.cloud ul a:nth-child(8n) { background: #83AF9B }
.cloud ul a:first-child { background: #036564 }
.cloud ul a:last-child { background: #3299BB }
.cloud ul a:hover { border-radius: 0; text-shadow: #000 1px 1px 1px }
.hometitle { padding: 0 10px; line-height: 50px; height: 50px; font-size: 18px; border-bottom: 1px solid #e5e5e5; color: #333; position: relative }
.hometitle:after { content: ''; position: absolute; height: 2px; width: 0; right: inherit; top: inherit; left: 0; bottom: -1px; background: #333; transition: 2s ease all; }
.hometitle:hover:after { width: 100%; transition: 2s ease all; }
.paihang { background: #FFF; overflow: hidden; margin-bottom: 20px }
.paihang ul { padding: 10px; }
.paihang ul li { border-bottom: solid 1px #EAEAEA; font-size: 14px; margin: 0 0 10px 0; padding: 0 0 10px 0; overflow: hidden }
.paihang ul li b { height: 30px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; display: block; }
.paihang ul li p { line-height: 24px; color: #888 }
.paihang ul li a:hover { color: #000; }
.paihang ul li:hover p { color: #000; }
.paihang ul li:hover b a { color: #000; }
.paihang li i { width: 100px; height: 90px; overflow: hidden; display: block; border: #efefef 1px solid; float: left; margin-right: 10px }
.paihang li img { height: 100%; margin: auto; -moz-transition: all .5s ease; -webkit-transition: all .5s ease; transition: all .5s ease; }
.paihang ul li:hover i img { transform: scale(1.1) }
/*links*/
.links { width: 100%; background: #FFF; overflow: hidden; }
.links ul { padding: 20px; overflow: hidden }
.links ul a { line-height: 24px; margin: 0 10px 0 0; display: block; float: left }
.links ul a:hover { text-decoration: underline }
.weixin { background: #FFF; overflow: hidden; margin: 20px 0; }
.weixin img { width: 100% }
/*lmnav*/
.lmnav { background: #FFF; overflow: hidden; margin-bottom: 20px }
.lmnav li { border-bottom: 1px dashed #CCCCCC; margin: 10px; padding-bottom: 5px; padding-left: 10px; font-weight: bold }
.lmnav li a { color: #333; }
.lmnav li a:hover { color: #096 }
.lmnav li ul li { border: none; margin: 0 0 0 30px; padding: 5px 0; font-weight: normal }
.navbor { border: #333 1px solid; position: relative; margin: 20px; background: url(../images/navbg.png) no-repeat bottom right; background-size: 70% 70%; }
.navbor:before { content: ""; width: 100px; height: 20px; background: #fff; top: -10px; left: 0; position: absolute }
.navbor:after { content: ""; width: 20px; height: 100px; background: #fff; top: -10px; left: -10px; position: absolute }
.picbox { width: 72%; float: left; overflow: hidden; margin-top: 20px }
.picbox ul { overflow: hidden; width: 268px; float: left; margin-right: 16px }
.picbox ul li { display: block; background: #FFF; margin: 0 0 20px 0; border: 1px #d9d9d9 solid; }
.picbox ul li i { margin: 10px; height: auto; overflow: hidden; display: block; }
.picbox ul li img { width: 100%; }
.picinfo h3 { border-bottom: #ccc 1px solid; padding: 20px 0; margin: 0 20px }
.picinfo span { padding: 20px; display: block; color: #666 }
.infos { float: left; width: 70%; overflow: hidden; background: #FFF; margin: 20px 0 }
.newsview { padding: 0 30px }
.intitle { line-height: 40px; height: 40px; font-size: 14px; ; border-bottom: #000 2px solid; }
.intitle a { font-weight: normal; }
.news_title { font-size: 24px; font-weight: normal; padding: 20px 0; color: #333; }
.news_author { width: 100%; color: #999; line-height: 18px; }
.news_author span { margin-right: 10px; padding-left: 20px }
.au01 { background: url(../images/author2.png) no-repeat left center }
.au02 { background: url(../images/date.png) no-repeat left center }
.au03 b { color: #333; padding: 0 5px }
.au04 { font-weight: normal; }
.news_about { color: #888888; border: 1px solid #F3F3F3; padding: 10px; margin: 20px auto 15px auto; line-height: 23px; background: none repeat 0 0 #F6F6F6; }
.news_about strong { color: #38485A; font-weight: 400 !important; font-size: 13px; padding-right: 8px; }
.news_content { line-height: 24px; font-size: 14px; }
.news_content p { overflow: hidden; padding-bottom: 4px; padding-top: 6px; word-wrap: break-word; }
.tags a { background: #F4650E; padding: 3px 8px; margin: 0 5px 0 0; color: #fff; }
.tags { margin: 10px 0; }
.news_infos { line-height: 24px; text-align: justify; }
.news_infos p { margin-bottom: 10px }
.news_infos img { max-width: 650px; height: auto; }
.share { padding: 20px; }
.nextinfo { line-height: 24px; width: 100%; background: #FFF; border-radius: 10px; overflow: hidden; margin: 20px 0 }/*上一篇下一篇*/
.nextinfo p { padding: 4px 10px; border-radius: 5px; }
.nextinfo a:hover { color: #000; text-decoration: underline }
/*相关文章*/
.otherlink, .xzsm, .ffsm { width: 100%; background: #FFF; border-radius: 10px; overflow: hidden; margin: 20px 0 }
.otherlink h2 { border-bottom: #000 2px solid; line-height: 40px; font-size: 14px; background: url(../images/5794.png) left 10px center no-repeat; padding-left: 40px; color: #000 }
.otherlink ul { margin: 10px 0 }
.otherlink li { line-height: 24px; height: 24px; display: block; width: 290px; float: left; overflow: hidden; margin-right: 30px; padding-left: 10px; }
.otherlink li a:hover { text-decoration: underline; color: #000 }
/*文章评论*/
.news_pl { margin: 10px 0; width: 100%; background: #FFF; border-radius: 10px; overflow: hidden; margin: 20px 0 }
.news_pl h2 { background: url(../images/newsbg03.png) no-repeat left 10px center; border-bottom: #000 2px solid; line-height: 40px; font-size: 14px; padding-left: 30px; color: #000 }
.xzsm ul, .ffsm ul { padding: 20px; line-height: 24px; border-top: 6px solid #a6b5c5; }
.bt-blue { display: block; line-height: 40px; height: 40px; background: #1e8ec5; width: 100px; text-align: center; }
.bt-blue a { color: #fff }
.gbko {     padding: 0px 10px 10px background: #fff; }
.ad { overflow: hidden }
.ad img { width: 100% }
.leftbox { width: 70%; float: left; overflow: hidden; }
.rightbox { width: 28%; float: right; overflow: hidden; }
.aboutme { overflow: hidden; background: #fff; }
.ab_con { line-height: 30px; padding: 10px; }
.ab_con p { background: #f6f6f6; margin: 5px 0; padding-left: 10px; border-radius: 5px; text-shadow: rgba(255, 255, 255, 0.3) 0px 1px 0px; }
.ab_box .avatar { width: 100px; height: 100px; overflow: hidden; border-radius: 50px; margin: 10px auto 0; }
..ab_box .avatar img { width: 100px; height: 100px }
.ab_box .news_infos { padding: 30px 0 }
.meandblog { padding: 20px; border-radius: 10px; overflow: hidden; margin: 0 0 20px 0; }
.meandblog li { background: #f1f1f1; line-height: 30px; margin: 5px 0; padding: 0 0 0 10px; border-radius: 10px; border-top: 2px solid #e2e2e2; text-shadow: #eae7e7 0px 0px 1px; }
.meandblog li a:hover { color: #000 }

.fb ul {
    background: url(/_view/templates/morning/images/comment.png) no-repeat top 20px left 10px;
}
.fb ul {
    margin: 10px 10px;
    padding: 10px 10px 10px 70px;
    border-bottom: #ececec 1px solid;
}
.fbtime span {
    float: right;
    color: #999;
    font-size: 12px;
    width: 66px;
    overflow: hidden;
    white-space: nowrap;
}
p.fbtime {
    color: #000;
}

p.fbinfo {
    margin: 10px 0;
}
#plpost {
    margin: 0 20px;
}
.saying {
    line-height: 30px;
    color: #a9a6a6;
}
.saying span {
    float: right;
}
.saying span a {
    color: #de1513;
}
.yname {
    margin: 10px 10px 10px 0;
}
.yname span, .yzm span {
    padding-right: 10px;
}
.yzm {
    margin: 0 10px 10px 0;
}
 img#plKeyImg {
    display: inline-block;
}
textarea#saytext {
    width: 100%;
}
#plpost input[type="submit"] {
    display: block;
    background: #303030;
    color: #fff;
    border: 0;
    line-height: 30px;
    padding: 0 20px;
    border-radius: 5px;
    float: right;
}
 .lists-navigator {
    margin: 30px 0 35px
}

.onelist-page .lists-navigator {
    margin: 35px 0 35px
}

.lists-navigator ol {
    margin: 0;
    padding: 0 10px;
    list-style: none;
    text-align: center
}

.lists-navigator ol li {
    display: inline-block;
    color: #5f5f5f
}

.lists-navigator ol li a {
    font-size: 14px;
    padding: 0 20px;
    color: #5f5f5f
}

.lists-navigator ol li.current a {
    color: #eb5055
}

#comments .lists-navigator {
    margin: 20px 0
}

#comments .lists-navigator ol {
    margin: 20px 0;
    padding: 0 10px;
    list-style: none;
    text-align: center
}

#comments .lists-navigator ol li.current a {
    color: #eb5055
}

#comments .page-navigator {
    margin: 0
}
.comment-container {
    position: relative;
    z-index: 1;
    color: #5f5f5f;
    background-color: #f7f7f7
}
.news_infos pre code {
    margin: 0px;
    padding: 1.3em;
    border: 0px;
    -webkit-font-smoothing: antialiased;
    font-family: Menlo, "Bitstream Vera Sans Mono", "DejaVu Sans Mono", Monaco, Consolas, monospace;
    font-size: 13px;
    border-radius: 3px;
    background: rgb(247, 247, 247);
    display: block;
    overflow: auto;
    color: rgb(49, 49, 49);
    line-height: 20px;
    padding-top: 0px;
}

.news_infos pre code {
    line-height: 20px;
    margin: 0;
    padding: 1.3em;
    color: #313131;
    background-color: #f7f7f7;
}
.news_infos h3{
	 font-size: 1.2em;    color: rgb(68, 68, 68);
    position: relative;
    margin: 20px 0;
}
.flinks{
	padding-left: 1rem;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0px;
    -webkit-font-smoothing: antialiased;
    vertical-align: baseline;
    color: rgb(49, 49, 49);
}
.flinks li{
	border: 0px; -webkit-font-smoothing: antialiased; word-wrap: break-word; display: inline-block; overflow: hidden; width: 208px; white-space: nowrap; text-overflow: ellipsis;
}
blockquote {
    padding: 0 10px 0 20px;
    border-left: 4px solid #ddd;
}
blockquote li  {
  list-style: disc;
}
   