 
.swal2-modal .swal2-spacer {
	height: 0px;
}

#dropzone{
	    width: 400px;
    height: 410px;
	    background-size: cover;    background-position: 50% 50%;
	background-repeat: no-repeat;
}

#dropzone-thumbImg{
	background-repeat:no-repeat; background-size:100% 100%;-moz-background-size:100% 100%;
}
#articleTags{
    border: 0px;
}
#modal-dialog{
	margin-top:150px!important;
}
@media screen and (max-width: 768px) {
 	.mditor .head{
		height:76px;
	}
	#md-container .body{
		margin-top:38px;
	}
}
.hint-msg{
	color:red!important;
}

#meditor{
	z-index: 199;
}
.switch-editor{
    float: right;
}
.selected-editor-btn{
    background-color: #5FB878;
    color: white;
    border-color: #5FB878;
}
.xm-select-dl {
       z-index:20000!important
}
#tags{
     z-index: 199;
}

[data-editor=ueditor]:hover{
    color:#fff;
}

.thumb-preview{
	    width: 420px;
    height: 240px;
}

.article-auto-save-msg{
    line-height: 36px;
    display: inline-block;
    color: red;
    font-size: 12px;
}
 
 
.editormd{
	z-index: 1999;
}
