.folder-click-nav ul li{
	display: inline-block;
	font-size: 12px;
	line-height: 16px;	
}
.folder-click-nav a{
	color: #4287ed;
}
.folder-click-nav{
	height: 24px;
	margin-bottom: 6px;
	border-bottom: 1px solid #f2f5fa;
}

body,html{
    color: rgb(102, 102, 102);
}
boyd,html{
	background-color: white;
}
.hide{
	display: none!important;
}
.disk-item{
	width:120px;
	height:120px;
	margin:0 10px;
	float:left;
	border: 1px solid white;
	cursor: pointer;
}
.disk-edit{
	width: 180px;;
    background: white!important;
    border: 0px!important;
}
.disk-edit .file-name{
	z-index:99;
	width: 180px;;
}
.disk-edit-input {
	width: 120px;
	height: 20px;
    vertical-align: middle;
    border: 1px solid #3b8cff;
    border: 1px solid rgba(58,140,255,.3);
    background: #fff;
    border-radius: 2px;
    font-size:10px;
}

.disk-edit input:focus {
    outline: 0;
    -webkit-box-shadow: 0 0 5px 0 #3b8cff;
    -moz-box-shadow: 0 0 5px 0 #3b8cff;
    box-shadow: 0 0 5px 0 #3b8cff;
}

.disk-edit .file-name span {
	 border: 1px solid rgba(58,140,255,.3);
	 display: inline-block;
	 
	 width: 18px;
     vertical-align: middle;
     cursor: pointer;
}

.disk-item:hover{
    border: 1px solid #f1f5fa;
    border-radius: 5px;
    background: #f1f5fa;
}
.file-thumb{
	width:84px;
	height:84px;
    margin: 0 auto;
    background-size: 100% 90% !important;
}

.file-name h3{
	font-size:12px;
	margin: 0px;
}
.file-name{
	width:100%;
	height:30px;
	text-align: center;
}
 
.disk-select-line{
	height:30px;
	line-height: 30px;
	font-size: 12px;	
	    color: #888;
	border-bottom: 1px solid white;
}
.disk-select-line div{
	display: inline-block;
}
.disk-select-line>div>span{
	display: inline-block;
	padding-left: 6px;
}

.select-all{
	width: 60%;
}
.select-all i{
	font-size:1.1rem;
	line-height:32px;
	vertical-align:bottom;
}
.select-all>.fa-square-o{
	font-size:1.2rem;
	line-height:30px;
}
.select-size{
	width: 16%;
}
.select-gmtcreate{
	width: 23%;
}
 
.disk-select-line div:hover{
    background: #f6faff;  
}
 
.disk-upload-file span{
	display:inline-block;
	margin-left:5px;
	
}.disk-upload-file i{
	font-size:1.2rem;
    line-height: 34px;
	vertical-align:bottom;
	
}
 .overflow-omit{
	 overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
 .clear:after{/*清除浮动*/
     content: '';
     display:block;
     clear: both;
 }
.disk-main{
	height:100%;
	width: 100%;
	min-height:500px;
}
.disk-header{
	width:100%;
	height:40px;
}
.float-left{
	float:left;
}
.float-right{
	float:right;
}
.header-left{
	width:70%;
}
.header-right{
	width:20%;
}
.inline-block{
	display: inline-block;
}
.disk-btn{
  display: inline-block;
  height: 34px;
  line-height: 34px;
  padding: 0 16px;
  white-space: nowrap;
  text-align: center;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid  #c0d9fe;
  background-color: #fff;
  color: #3b8cff;
}
.disk-copy{
	text-align: center;
	width:300px;
	margin: 10px;
}
.disk-copy .copy-link-hint{
	display: inline-block;
	width: 100%;
	margin-top: 10px;	text-align: center;
	color: red;
}
.disk-copy button{
	display: inline-block;
	margin-top:10px;
}