.layui-layout-admin .layui-logo{
	left:50px;
	width:150px;
	text-align: left
}
body{background:#f5f5f5;font-family:'Noto Sans',sans-serif !important;margin:0;color: #505458;
    width: 100%;
    height: 100%;
}
html{ min-height:100%;background:#f5f5f5; width: 100%;
    height: 100%;}
.menu-tree li a{
    color: #a7b1c2;
    display: block;
    padding:0 0 0 20px!important;
    font-size: 16px!important;
}
.layui-bg-black{
	background-color: #495060!important;
}
.menu-tree li a i{
    display: inline-block;
    font-size: 18px!important;
    line-height: 17px;
    margin-left: 3px;
    margin-right: 15px;
    text-align: center;
    vertical-align: middle;
    width: 20px;
}
/**为了隐藏在使用bootstrap的模态框和layui的冲突导致的遮罩*/
.modal-backdrop{
	position:static !important;
}
.site-block{
    padding: 20px;
    border: 1px solid #eee;
}

a:hover{
	text-decoration:none !important;
}
.page-title{
	border-style: solid;
    border-width: 1px 1px 1px 5px;
    background: 0 0;
    margin-bottom: 10px;
    padding: 15px;
    line-height: 22px;
    border-left: 5px solid;
    border-radius: 0 2px 2px 0;
    background-color: #f2f2f2;
    border-color: #e6e6e6;
    font-size:16px !important;
}
.right-nva{
	margin-bottom: 24px;
}
.swal2-container{
	z-index:19991015!important;
}
.swal2-modal .swal2-spacer {
 	background-color:rgb(255,255,255);
 }

.layui-toggle-menu{
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    cursor: pointer;
 }
 .layui-toggle-menu i,.layui-logo{
 font-size: 20px;
 }  
 .layui-header{
 	height:50px;
 	
 }
 .layui-nav .layui-layout-right{
	 height:50px;
 }
.layui-layout-admin .layui-logo{
 line-height: 50px;
 }
 .layui-nav .layui-nav-item{
 line-height: 50px;
 
 }
 .layui-layout-admin .layui-side,.layui-layout-admin .layui-body  {
   top: 50px;
 
}
.layui-layout-admin .layui-body{
bottom: 0px;
}
 
.update-pwd-from  .layui-input-block,.update-info-from .layui-input-block{
	margin-left:45px;
}
.layui-fluid{
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
}
.layui-nav-bar{
	display: none;
}

.select2-hidden-accessible{
	display: none!important;
}
.layui-toggle-menu,.layui-logo{
  
  color: #337ab7!important;
}
.layui-layout-admin .layui-header {
    background-color: #fff!important;
}

 

.layui-header .layui-nav-more{
	border-top-color: #337ab7 !important;
}
 .layui-header .layui-nav-mored{
	display: none; 
}
.layui-header a{
	color: #337ab7!important;
}
@media screen and (max-width: 768px) {
	.layui-logo{
		display: none;
	}
} 

button a{
	color:inherit!important;
}
dl{
	margin-bottom: 0px!important;
}
.note-popover{
	display: none!important;
}
.layui-body{
	z-index: 1998;
}
.layui-anim-upbit .layui-this{
	color:#fff;
}

/**console*/
.access-statistic-item{
	margin-left:1rem;
	width:100%;position: relative;
}
.info-statistic-block{
	text-align: center;
	margin-bottom:20px;
}
.info-statistic-item{
	width: 85%;
    margin: 0 auto;
}
.info-block{
	height:130px;
	border-radius:10px;
	margin:1rem 0px 0rem 0px;
	margin-top:0px;
}
.info-block,.info-block a{
	color: white!important;
}
 
.divide-line{
	margin-bottom:1rem;
}

.info-block-left{
	display: inline-block;
 
    padding-right: 16px;
}

.info-block-middle p,.info-block-right p{
cursor:pointer;
 text-align: center;
}
.info-block-middle>div,.info-block-right>div{
 	position: absolute;
    top: 50%;
    left:50%;
    height: 240px;
    margin-top: -30px; /* 盒子本身高度的一半 */
    margin-left:-30px;
}
.info-block>div:nth-child(2),.info-block>div:nth-child(3){
	width:30%;
	height:130px;
	display:inline-block;
	vertical-align: top;
	position:relative;
}
.info-block>div:nth-child(1),.info-block>div:nth-child(2){
	border-right:1px solid #ececec;
}
.info-block-left i{
	font-size:60px;
	line-height: 130px;
}
.text-right{
	text-align: right;
}
.text-big{
	font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
	
	.info-block-left{
		display: none;
	}
	
	.info-block>div:nth-child(2),.info-block>div:nth-child(3){
		width:45%;
	}	
}
.statistic-list{
	text-align: left;

}
.statistic-list dt{
	padding: 10px 20px;
 	background-color: #fafafa;
    color: #797979;
    text-indent: 0;
    border-radius: 5px;
}
.statistic-list{
	box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
	padding: 12px 20px;
}
.statistic-list dd{
	padding: 12px 20px;
	border: 1px solid #ddd;
	border-top: 0px solid #ddd;
}
 
.statistic-list dd:nth-child(2){
	border-top: 1px solid #ddd!important;
}

#comment-list a{
    width: 100%;
    display: inline-block;
    overflow: hidden;
}
