<footer id="footer" class="footer">
	<div class="footer-social">
		<div class="footer-container clearfix">
			<div class="social-list">
			 <!-- 
				<a class="social weibo" target="blank" href="<?php $this->options->socialweibo(); ?>">WEIBO</a>
			 
                <a class="social zhihu" target="blank" href="<?php $this->options->socialzhihu(); ?>">ZHIHU</a>
            
                <a class="social rss" target="blank" href="<?php $this->options->siteUrl(); ?>feed/">RSS</a>
		 
				<a class="social github" target="blank" href="<?php $this->options->socialgithub(); ?>">GITHUB</a>
			 
		 
				<a class="social twitter" target="blank" href="<?php $this->options->socialtwitter(); ?>">TWITTER</a>
			  -->
			</div>
		</div>
	</div>
	<div class="footer-meta">
		<div class="footer-container clearfix">
			<div class="meta-item meta-copyright">
				<div class="meta-copyright-info">
                    <a href="/" class="info-logo">
                         
                        <img src="#(config.logo??"/logo.png")" alt="#(seoTitle)" />
                         
                    </a>
					
				</div>
			</div>
			<div class="meta-item meta-posts">
				<h3 class="meta-title">RECENT POSTS</h3>
               	热门文章
               	<ul style="margin-top: 0px;padding-left: 0px">
               		#for(article:recentArticles)
               			<li>
               				<a href="/article/#(article.identify)">#(article.title)</a>
               			</li>
               		#end
               	</ul>
			</div>
            <div class="meta-item meta-comments">
                <h3 class="meta-title">RECENT COMMENTS</h3>
              		 最新评论
              	<ul style="padding-left:0px;margin-top: 0px;">
               		#for(comment:recentComments)
               			<li>
               				<a href="/article/#(comment.identify)?p=#(comment.pageNum)#li-comment-#(comment.id)">#(comment.name):#(comment.content)</a>
               			</li>
               		#end
               	</ul>
            </div>
		</div>
	</div>
</footer>




<script src="/_view/templates/pinghsu/js/headroom.min.js"></script>
 
<script src="/_view/templates/pinghsu/js/highlight.min.js"></script>
 
<script src="/_view/templates/pinghsu/js/instantclick.min.js?v20140319'"></script>
 
<script src="/_view/templates/pinghsu/js/fastclick.min.js"></script>
<script src="/_view/templates/pinghsu/js/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script> 
<script>

var header = new Headroom(document.getElementById("header"), {
    tolerance: 0,
    offset : 70,
    classes: {
      initial: "animated",
      pinned: "slideDown",
      unpinned: "slideUp"
    }
});
header.init();

hljs.initHighlightingOnLoad();

 
if ('addEventListener' in document) {
    document.addEventListener('DOMContentLoaded', function() {
        FastClick.attach(document.body);
    }, false);
}
 
</script>
 
<script data-no-instant>
    InstantClick.on('change', function (isInitialLoad) {
    	$("#post-content pre").each(function(){
    		var preHtml=$(this).html();
    		$(this).html("");
    		$(this).append("<code></code>");
    		$(this).find("code").html(preHtml);
    	})
    	
        var blocks = document.querySelectorAll('pre code');
        for (var i = 0; i < blocks.length; i++) {
            hljs.highlightBlock(blocks[i]);
        }
        if (isInitialLoad === false) {
            if (typeof ga !== 'undefined') ga('send', 'pageview', location.pathname + location.search);
            if (typeof MathJax !== 'undefined'){MathJax.Hub.Queue(["Typeset",MathJax.Hub]);}
        }
        baiduPush();
    });
  
    InstantClick.init('mousedown');
    
    //百度自动推送
    function baiduPush(){
  	   	 var bp = document.createElement('script');
         var curProtocol = window.location.protocol.split(':')[0];
         if (curProtocol === 'https') {
             bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
         }
         else {
             bp.src = 'http://push.zhanzhang.baidu.com/push.js';
         }
         var s = document.getElementsByTagName("script")[0];
         s.parentNode.insertBefore(bp, s);
    }
</script>

</body>
</html>
