<script src="/assets/js/DateUtil.js"></script>
<div class="layui-row ">
	<div class="layui-col-lg12 layui-col-md12">
		<blockquote class="page-title ">仪表盘</blockquote>
	</div>
</div>


<div class="layui-row">
	<div class="layui-col-xs12 layui-col-sm6 layui-col-md4 info-statistic-block">
		<div class="layui-inline info-statistic-item">
			<div class="info-block" style="background-color: #1E9FFF;">
				<div class="info-block-left">
					<i class="layui-icon layui-icon-edit"></i>
				</div>
				<div class="info-block-middle">
					<div>
						<p>共发表了</p>
						<a href="/admin/article/list" pajx><p class="text-right text-big article-total-num"></p></a>
						<p>篇文章</p>
					</div>
				</div>
				<div class="info-block-right">
					<div>
						<p>本月发表</p>
						<a href="/admin/article/list" pajx><p class="text-right text-big article-month-num" ></p></a>
						<p>篇文章</p>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	<div class="layui-col-xs12 layui-col-sm6 layui-col-md4 info-statistic-block">
		<div class="layui-inline info-statistic-item">
			<div class="info-block" style="background-color: #5FB878;">
				<div class="info-block-left">
					<i class="layui-icon layui-icon-chat"></i>
				</div>
				<div class="info-block-middle">
					<div>
						<p>共收到了</p>
						<a href="/admin/comment" pajx><p class="text-right text-big comment-total-num" ></p></a>
						<p>条评论</p>
					</div>
				</div>
				<div class="info-block-right ">
					<div>
						<p>本月收到</p>
						<a href="/admin/comment" pajx><p class="text-right text-big comment-month-num" ></p></a>
						<p>条评论</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="layui-col-xs12 layui-col-sm6 layui-col-md4 info-statistic-block">
		<div class="layui-inline info-statistic-item">
			<div class="info-block" style="background-color: #e8b30c;">
				<div class="info-block-left">
					<i class="layui-icon layui-icon-chat"></i>
				</div>
				<div class="info-block-middle">
					<div>
						<p>共上传了</p>
						<a href="/admin/disk" pjax><p class="text-right text-big disk-total-num"  ></p></a>
						<p>个附件</p>
					</div>
				</div>
				<div class="info-block-right ">
					<div>
						<p>本月上传</p>
						<a href="/admin/disk" pajx><p class="text-right text-big disk-month-num"   ></p></a>
						<p>个附件</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="layui-row">
	<div class="layui-col-xs12 layui-col-sm6 layui-col-md4 info-statistic-block">
		<div class="info-statistic-item" >
			<dl class="statistic-list" id="article-list">
				<dt>热门文章</dt>
			 
			</dl>
		</div>
	</div>
	<div class="layui-col-xs12 layui-col-sm6 layui-col-md4 info-statistic-block">
		<div  class="info-statistic-item" >
			<dl  class="statistic-list" id="comment-list">
				<dt>最新评论</dt>
	 
			</dl>
		</div>
	</div>
	<div class="layui-col-xs12 layui-col-sm6 layui-col-md4 info-statistic-block">
		<div  class="info-statistic-item" >
			<dl  class="statistic-list" id="loginRecord-list">
				<dt>登录日志</dt>
				 
			</dl>
		</div>
	</div>
</div>

<!--  
<div class="layui-inline info-statistic-item">
	<div class="info-block" style="background-color: #7d7c7c;">
		<div class="info-block-left">
			<i class="layui-icon layui-icon-upload-drag"></i>
		</div>
		<div class="info-block-middle">
			<div>
				<p>共上传了</p>
				<p class="text-right text-big">20</p>
				<p>个附件</p>
			</div>
		</div>
		<div class="info-block-right ">
			<div>
				<p>本月上传</p>
				<p class="text-right text-big">10</p>
				<p>个附件</p>
			</div>
		</div>
	</div>
</div>
-->
 
<div class="layui-row ">
	<div class="layui-col-lg12 layui-col-md12">
		<blockquote class="page-title ">浏览统计</blockquote>
	</div>
</div>
<div class="layui-row " class="console-statistic-box">
	<div class="layui-col-xs12 layui-col-sm6 col-md-6">
		<div class="layui-inline access-statistic-item">
			 <div id="line" style="width:100%;height:400px;"></div>
		</div>
	</div>
	<div class="layui-col-xs12 layui-col-sm6 col-md-6">
		<div class="layui-inline access-statistic-item">
			 <div id="bar" style="width: 100%;height:400px;"></div>
		</div>
 	</div>
</div> 
<script type="text/html" id="tpl-console-statistic">
 <div class="layui-col-xs12 layui-col-sm6 col-md-6">
		<div class="layui-inline access-statistic-item" style="margin-left: 1rem;width: 100%;position: relative;">
			 <div id="line" style="width:100%;height:400px;"></div>
		</div>
	</div>
	<div class="layui-col-xs12 layui-col-sm6 col-md-6" style="margin-left: 1rem;width: 100%;position: relative;">
		<div class="layui-inline access-statistic-item">
			 <div id="bar" style="width: 100%;height:400px;"></div>
		</div>
 	</div>
 </script>
 
<script>
    function pjaxLoad(){
      layui.use(['console'],function(console){
        console.pjaxLoad();
      })
    }
    function firstLoad(){
      layui.use(['console'],function(console){
        
      })
    }
 </script>
<script type="text/html" id="tpl-list-article">
<dd><a href="/a/{{identify}}" target="_blank">{{title}}</dd>
</script>
<script type="text/html" id="tpl-list-comment">
<dd><a href="/a/{{identify}}?p={{pageNum}}#li-comment-{{id}}"  target="_blank">{{name}}:{{content}}</a></dd>
</script>
<script type="text/html" id="tpl-list-loginRecord">
<dd>{{if !device}}未知设备{{/if}}{{device}} by {{gmtCreate}}</dd>
</script>