<link rel="stylesheet" href="/assets/admin/css/nav.css" />

<div class="layui-row ">
	<div class="layui-col-lg12 layui-col-md12">
		<blockquote class="page-title">导航列表</blockquote>
	</div>
</div>
<div class="site-block">
	<form class="layui-form" method="post">
	   	<button class="layui-btn layui-btn-sm nav-add" type="button">添加</button>
	</form>
</div>
<div>
	<table class="layui-hide" id="navs"></table>
</div>

<script type="text/html" id="tpl-nav-edit">
<div style="width:350px;padding:10px;margin:0 auto;padding-left:0px;">
	<form class="layui-form" onsubmit="return add();">
		<input type="hidden" name="id" value="{{id}}">
		<div class="layui-form-item">
   		 <label class="layui-form-label">标题</label>
    		<div class="layui-input-block">
      			<input type="text" name="title" required  lay-verify="required" value="{{title}}" placeholder="请输入标题" autocomplete="off" class="layui-input">
    	 	</div>
 		 </div>
	  	<div class="layui-form-item">
    		<label class="layui-form-label">访问路径</label>
    		<div class="layui-input-block">
      			<input type="text" name="url" required  lay-verify="required"  value="{{url}}" placeholder="请输入访问路径" autocomplete="off" class="layui-input">
    		</div>
  		</div>
		<div class="layui-form-item">
    		<label class="layui-form-label">排序(值越大越靠前)</label>
    		<div class="layui-input-block">
      			<input type="number" name="sort" required  lay-verify="required"  value="{{sort}}"  placeholder="请输入排序值 " autocomplete="off"   class="layui-input">
    		</div>
  		</div>
		 <div class="layui-form-item">
		    <div class="layui-input-block">
		    <button class="layui-btn" type="button" lay-submit lay-filter="nav-{{method}}">立即提交</button>
		 </div>
	  </div>
	</form>
</div>
</script>
<script type="text/htmp" id="option-tpl">
	<option value="" selected>----<option>
	{{ each categorys }}
		<option value='{{ $value.id}}'>{{  $value.mname }}({{  $value.count }})<option>
	{{ /each }}
</script>
<script type="text/html" id="operation-tpl">
#[[ 
 
	<button class="layui-btn layui-btn-sm nav-update" data-id="{{d.id}}">修改</button>
	<button class="layui-btn layui-btn-sm nav-delete" data-id="{{d.id}}">删除</button> 
]]#
</script>
<script>
    function pjaxLoad(){
      layui.use(['nav'],function(nav){
        nav.pjaxLoad();
      })
    }
    function firstLoad(){
      layui.use(['nav'],function(nav){
        
      })
    }
 </script>