<style type="text/css">
.page-state-select-box{
	width:100px;
}
.page-list-query .layui-form-item {
    display: inline-block;
}
.page-list-query .layui-form-item {
    margin-bottom: 0px;
}
 .layui-table-cell{ height:auto; overflow:visible; text-overflow:inherit; white-space:normal; } 
</style>

<blockquote class="page-title  page-title">页面管理</blockquote>
<div class="site-block">
	<form class="layui-form page-list-query" method="post" >
		<div class="layui-form-item">
			<label class="layui-form-label">状态:</label>
			<div class="layui-input-block page-state-select-box">
				<select name="state" id="page-state-select" lay-filter="page-state-select">
					<option value=" ">不限</option>
					<option value="0">未删除</option>
					<option value="1">已删除</option>		
				</select>
			</div>
		</div>
		<div class="layui-form-item">
		    <div class="layui-input-block">
		     <a href="/admin/page/edit" pjax><button type="button" class="layui-btn"  >新增</button></a>
		 </div>
	</form>
</div>
<div style="width:100%;overflow:auto;">
	<table class="layui-table" id="pageTable" width="auto" style="white-space:nowrap"  lay-data="{ }"lay-filter="test">
		
	</table>
</div>
<script type="text/javascript">
 
function pjaxLoad(){
  layui.use(['pageList'],function(pageList){
	  pageList.pjaxLoad();
  })
}
function firstLoad(){
  layui.use(['pageList'],function(pageList){
    
  })
}
</script>
 