html,
body {
	background-color: #F5F5F5;
	font-size: 14px;
	min-width: 1280px;/*指定页面最小宽度 可以根据实际情况自行修改*/
}
/**
 * 扁平无区块分割样式
 */
body.jf-flat {
	background-color: #FFFFFF;
}
/**
 * 页面header 悬浮顶部样式
 */
body.jf-header-fixed {
	padding-top: 60px;
}

body.jf-header-fixed .jf-header {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	z-index: 99;
}

.container {
	min-width: 1280px;/*指定页面最小宽度 可以根据实际情况自行修改*/
}
.mt15 {
	margin-top: 15px;
}
/*页面中的img 最大不能超过父元素宽度*/
img {
	max-width: 100%;
}
/*重定义页面基础元素间距*/
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
section,
fieldset,
legend,
label,
a {
	padding: 0px;
	margin: 0px;
}
/*全局超链接加css过度特效时间间隔0.3s*/
a {
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}

a:hover {
	text-decoration: none;
}

ul,
li {
	list-style: none;
}

/*页面header部分样式 start*/
.jf-header {
	display: block;
	height: 60px;
	line-height: 60px;
	background-color: #343a40;
	z-index: 1;
}

.jf-header.jf-style-white {
	background-color: #FFFFFF;
	border-bottom: 1px solid #DDD;
}

ul.jf-header-navs {
	display: inline-block;
	list-style: none;
	margin: 0px;
	padding: 0px;
	padding-left: 10px;
}

ul.jf-header-navs>li {
	display: inline-block;
	height: 60px;
	line-height: 60px;
}

ul.jf-header-navs>li>a {
	display: block;
	height: 60px;
	line-height: 60px;
	color: #EEE;
	padding: 0px 20px;
	font-size: 16px;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}
ul.jf-header-navs>li>a i.fa{
	margin-right: 4px;
	font-size: 14px;
}

.jf-header.jf-style-white ul.jf-header-navs>li>a {
	color: #333;
}

ul.jf-header-navs>li>a:hover,
ul.jf-header-navs>li>a.active {
	background-color: rgba(0, 0, 0, 0.1);
	color: #FFFFFF;
}

.jf-logo {
	display: inline-block;
	height: 60px;
	line-height: 60px;
}

.jf-logo img {
	height: 60px;
}

.jf-header-user {
	height: 60px;
	line-height: 60px;
}

.jf-header.jf-style-white .jf-user-login,
.jf-header.jf-style-white .jf-user-reg {
	color: #333;
}

.jf-user-login,
.jf-user-reg {
	display: inline-block;
	height: 60px;
	line-height: 60px;
	color: #efefef;
	padding: 0px 10px;
	font-size: 16px;
	-webkit-transition-duration: 0.3s;
	-moz-transition-duration: 0.3s;
	-ms-transition-duration: 0.3s;
	-o-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.jf-user-login:hover,
.jf-user-reg:hover {
	color: #FFFFFF;
	background-color: rgba(0, 0, 0, 0.1);
}


.jf-header-searchbox {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
	align-items: Center;
	margin: 0px 15px;
	height: 60px;
	line-height: 60px;
}

.jf-header-searchbox .input-group-text {
	background-color: #FFFFFF;
	border: none;
	padding: .375rem .25rem .375rem .75rem;
	color: gray;
}

.jf-header-searchbox .form-control {
	border-left: none;
	outline: none;
	border: 1px solid #aaa;
	box-shadow: none;
	height: 30px;
	line-height: 30px;
	background-color: rgba(100, 100, 100, 0.05);
	width: 170px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.jf-header-searchbox .form-control:focus {
	outline: none;
	box-shadow: none;
	border-color: #ccc;
	width: 200px;
}

.jf-header-searchbox .form-control:hover {
	border-color: #ccc;
	width: 200px;
}

.jf-header-loged {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
	align-items: Center;
	margin: 0px 15px;
	height: 60px;
	line-height: 60px;
	cursor: pointer;
	padding: 0px 10px;
}

.jf-header-avatar .fa-sort-desc {
	color: white;
}

.jf-header-avatar img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.jf-header-user:hover .jf-header-loged {
	background-color: rgba(0, 0, 0, 0.1);
}

.jf-header-Layer {
	display: none;
	position: absolute;
	line-height: 24px;
	top: 60px;
	right: 0px;
	min-width: 160px;
	padding-bottom: 5px;
	z-index: 999;
	background: rgba(52, 58, 64, 1);
	border: 1px solid rgba(0, 0, 0, 0.4);
	border-top: none;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

@-moz-document url-prefix() {
	.jf-header-Layer {
		top: 59px;
	}
}

.jf-header-Layer .list-group-item {
	background-color: transparent;
}

.jf-header-user:hover .jf-header-Layer {
	display: inline-block;
}

.jf-header-Layer .list-group-item i.fa {
	color: rgb(200, 200, 200);
}

.jf-header-Layer .list-group-item {
	color: rgb(200, 200, 200)!important;
}

.jf-header-Layer .list-group-item:focus,
.jf-header-Layer .list-group-item:hover {
	color: rgb(255, 255, 255)!important;
	background-color: rgba(0, 0, 0, 0.2);
}

.jf-style-white .jf-header-Layer {
	background: #FFFFFF;
	border-color: #FFFFFF;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
}

.jf-style-white .jf-header-Layer .list-group-item {
	background-color: #FFFFFF;
}

.jf-style-white .jf-header-Layer .list-group-item i.fa {
	color: #666;
}

.jf-style-white .jf-header-Layer .list-group-item {
	color: #666!important;
}

.jf-style-white .jf-header-Layer .list-group-item:focus,
.jf-style-white .jf-header-Layer .list-group-item:hover {
	color: #333!important;
	background-color: #F5F5F5;
}

.jf-style-white .jf-header-avatar .fa-sort-desc {
	color: black;
}
/*页面header部分样式 end*/

/*页面主体*/
.jf-page-container {
	margin: 20px auto;
}
/*页面side侧边*/
.jf-page-side {
	display: inline-block;
	width: 300px;
	min-height: 100%;
}
/*页面主体内容区域*/
.jf-panel-body {
	padding: 0px;
	display: block;
}

/*页面底部*/
.jf-footer {
	border-top: 1px solid #E5E5E5;
	position: relative;
	padding-top: 20px;
	font-size: 12px;
}


/*******全局panel区块组件样式 start*********/
.jf-panel {
	background: #FFFFFF;
	padding: 20px;
	margin: 0px;
	border-radius: 4px;
}

.jf-panel-header {
	padding-bottom: 15px;
}

.jf-panel-header h1,
.jf-panel-header h1>a {
	font-size: 18px;
	color: #666;
}

.jf-panel-header h1 i.fa {
	margin-right: 4px;
}

.jf-panel-header h1>a:hover {
	color: #007bff;
}

.jf-panel-header .jf-more {
	color: #888;
	font-size: 14px;
	float: right;
	top: -3px;
	position: relative;
}

.jf-panel-header .jf-more:hover {
	color: #000;
}

.jf-page-main .jf-panel {
	margin-bottom: 20px;
}


.jf-page-side .jf-panel {
	margin-bottom: 20px;
}

/*******全局panel区块组件样式 end*********/



/*******页面底部 css*********/
ul.jf-footerlinks{
	text-align: center;
}
ul.jf-footerlinks>li {
	list-style: none;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
}

ul.jf-footerlinks>li>a {
	color: #888;
	font-size: 16px;
}

ul.jf-friendlinks {
	list-style: none;
	padding-left: 0px;
}

ul.jf-friendlinks>li {
	list-style: none;
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	color: #888;
	font-size: 16px;
}

ul.jf-friendlinks>li>a {
	color: #777;
}

.jf-footer-title {
	font-size: 16px;
	color: #888;
	margin: 15px 0px;
}

ul.jf-footerlinks>li>a:hover,
ul.jf-friendlinks>li>a:hover {
	text-decoration: underline;
	color: #333;
}

.jf-footer-logo {
	width: 300px;
	text-align: center;
}

.jf-footer-logo img {
	width: 80%;
}

.jf-copyright {
	text-align: center;
	color: #999;
	margin: 10px auto;
	padding-bottom: 10px;
	font-size: 16px;
}

.jf-copyright a {
	color: #999;
}

.jf-copyright a:hover {
	text-decoration: underline;
	color: #205B95;
}

/*******页面底部 css*********/

.demo-body {
	display: block;
	line-height: 1.5;
	color: #EEE;
	font-size: 30px;
	text-align: center;
	vertical-align: middle;
}

.jf-page-main .demo-body {
	margin-top: 200px;
}

.jf-page-side .demo-body {
	margin-top: 80px;
}

/****主题内容区域的css样式 start***/
.jf-article-detail .jf-panel-header {
	border-bottom: 1px solid #EEEEEE;
}

h1.jf-article-title {
	font-size: 24px;
	color: #333;
	margin: 8px 0px;
	vertical-align: bottom;
	line-height: 1.3;
	word-break: break-word;
	text-overflow: ellipsis;
}

.jf-doc-content,
.jf-article-content {
	font-size: 16px;
}
.jf-doc-content{
	padding-top: 15px;
}

.jf-doc-content p,
.jf-article-content p {
	padding: 10px 0px!important;
}

.jf-doc-content h1,
.jf-article-content h1 {
	font-size:28px!important;
}

.jf-doc-content h2,
.jf-article-content h2 {
	font-size:24px!important;
}

.jf-doc-content h3,
.jf-article-content h3 {
	font-size:20px!important;
}

.jf-doc-content,
.jf-article-content img {
	max-width: 100%;
}

ul.jf-article-info {
	padding-left: 5px;
	padding-top: 8px;
	font-size: 14px;
	color: #999;
}

ul.jf-article-info>li {
	display: inline-block;
	padding-right: 20px;
}
/****主题内容区域的css样式 end***/


/****边栏赞助商 start***/
ul.jf-ads>li {
	display: block;
	margin-bottom: 15px;
	border-radius: 5px;
}

ul.jf-ads>li>a {
	display: block;
	height: 50px;
	line-height: 50px;
	color: #FFF;
	font-size: 16px;
	padding: 0px 5px;
	text-align: center;
}

ul.jf-ads>li.style1 {
	background-color: #d07154;
}

ul.jf-ads>li.style2 {
	background-color: #444547;
}

ul.jf-ads>li.style3 {
	background-color: #00AFE4;
}
/****边栏赞助商 start***/

/*************login 登录页 start**************/

.jf-login-bg {
		background-repeat: no-repeat;
	background-position: center center;
	
	background-size: 100% 100%;
	
}
.jf-bgimg{
	background-image: url(../img/login_bg.jpg);
}
.jf-bgimg2{
	background-image: url(../img/login_bg2.jpg);
}
.jf-bg1{
	background-color: #343434;
}
.jf-bg2{
	background-color: #343434;
}
.jf-login-logo{
	text-align: center;
	margin-bottom: 6px;
}
.jf-login-logo img{
	height: 100px;
}
.jf-login-bg-mask {
	position: relative;
	width: 100%;
	height: 100%;
	min-height: 100%;
	background: rgba(0, 0, 0, 0.1);
	padding-bottom: 100px;
	box-sizing: border-box;
}

html.fullscreen,
body.fullscreen {
	width: 100%;
	overflow: hidden;
	height: 100%;
	padding: 0px;
	margin: 0px;
	min-height: 100%;
}

.jf-login-bg-mask .jf-header {
	background-color: transparent;
	text-align: center;
}

.jf-login-bg-mask ul.jf-header-navs>li>a {
	color: #bbb;
}
 

.jf-login-bg-mask ul.jf-header-navs>li>a:hover {
	color: #EEE;
}

.jf-login-bg-mask .jf-header-navs {
	margin-left: 0px;
}

.jf-login-bg-mask .jf-footer {
	background-color: transparent;
	width: 100%;
	height: 100px;
	padding-top: 20px;
	text-align: center;
	border-top: none;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

.jf-login-bg-mask ul.jf-footerlinks>li>a:hover,
.jf-login-bg-mask ul.jf-friendlinks>li>a:hover {
	text-decoration: underline;
	color: #EEE;
}

.jf-login-bg-mask .jf-copyright {
	margin-top: 10px;
}

.jf-captcha{
	position: relative;
}
.jf-captcha img{
	position: absolute;
	right: 0px;
	bottom:10px;
	z-index: 1;
	cursor: pointer;
}

.jf-login-formview {
	background: hsla(0, 0%, 50%, .25) border-box;
	box-shadow: 0 0 0 1px hsla(0, 0%, 50%, .3) inset, 0 .5em 1em rgba(0, 0, 0, 0.2);
	width: 500px;
	height: 530px;
	padding: 30px;
	position: absolute;
	border-radius: 10px;
	z-index: 1;
	left: 50%;
	top: 50%;
	margin-left: -250px;
	margin-top: -290px;
}

@media screen and (min-width: 1920px) {
	.jf-login-formview {
		width: 600px;
		margin-left: -300px;
	}
}

@media screen and (max-width: 1920px) {
	.jf-login-formview {
		width: 500px;
		margin-left: -250px;
	}
}

@media screen and (max-width: 1400px) {
	.jf-login-formview {
		width: 450px;
		margin-left: -225px;
	}
}

.jf-login-formview::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: -30px;
	z-index: -1;
	-webkit-filter: blur(20px);
	filter: blur(20px);
}

.jf-login-formview input.form-control {
	border: none;
	background-color: transparent;
	border-bottom: 1px solid #999;
	color: #F5F5F5;
	height: 60px;
	position: relative;
	font-size: 16px;
	vertical-align: text-bottom;
	margin-bottom: 10px;
}

.jf-login-formview {
	letter-spacing: 1.5px;
	font-size: 14px;
}

.jf-login-formview input::-webkit-input-placeholder {
	color: #aaa;
	font-size: 16px;
	text-align: left;
}

.jf-login-formview input.form-control:focus {
	outline: none;
	border-top: none;
	border-right: none;
	border-left: none;
	box-shadow: none;
	border-bottom: 1px solid #F5F5F5;
	border-radius: 5px;
}

.jf-login-formview input:focus::-webkit-input-placeholder {
	position: relative;
	top: -22px;
	z-index: 999;
}

.jf-btn-login-submit {
	background-color: #ccc;
	border-color: #CCC;
	margin-top: 30px;
	margin-bottom: 15px;
	padding: 10px;
}

.jf-login-tips {
	padding-top: 10px;
}

.jf-login-tips a {
	color: #ccc;
	margin: 10px;
}

.jf-login-tips a:hover {
	color: #F5F5F5;
}


.text-gray {
	color: #ccc;
}

.checkbox {
	padding-right: 20px;
	display: block;
	height: 32px;
	line-height: 32px;
}

.checkbox label {
	display: inline-block;
	position: relative;
	padding-left: 5px;
	min-height: 12px;
	white-space: nowrap;
	font-size: 14px;
}

.checkbox label::before {
	content: "";
	display: inline-block;
	position: absolute;
	width: 17px;
	height: 17px;
	margin-top: 5px;
	left: 0;
	top: 2px;
	margin-left: -20px;
	border: 1px solid #cccccc;
	border-radius: 3px;
	background-color: #ccc;
	-webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	-o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
	transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
	display: inline-block;
	position: absolute;
	width: 16px;
	height: 16px;
	left: 0;
	top: 0px;
	margin-left: -20px;
	padding-left: 3px;
	padding-top: 0px;
	font-size: 11px;
	color: #555555;
}

.checkbox input[type="checkbox"] {
	opacity: 0;
	z-index: 1;
}

.checkbox input[type="checkbox"]:focus+label::before {
	/* outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;  */
}

.checkbox input[type="checkbox"]:checked+label::after {
	font-family: 'FontAwesome';
	content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled+label {
	opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled+label::before {
	background-color: #eeeeee;
	cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
	border-radius: 50%;
}

.checkbox.checkbox-inline {
	margin-top: 0;
	margin-left: 0px;
	margin-right: 10px;
	min-width: 80px;
	display: inline-block;
}

.checkbox.checkbox-single label {
	height: 17px;
}

.checkbox-primary input[type="checkbox"]:checked+label::before {
	background-color: #428bca;
	border-color: #428bca;
}

.checkbox-primary input[type="checkbox"]:checked+label::after {
	color: #fff;
}

.checkbox-danger input[type="checkbox"]:checked+label::before {
	background-color: #d9534f;
	border-color: #d9534f;
}

.checkbox-danger input[type="checkbox"]:checked+label::after {
	color: #fff;
}

.checkbox-info input[type="checkbox"]:checked+label::before {
	background-color: #5bc0de;
	border-color: #5bc0de;
}

.checkbox-info input[type="checkbox"]:checked+label::after {
	color: #fff;
}

.checkbox-warning input[type="checkbox"]:checked+label::before {
	background-color: #f0ad4e;
	border-color: #f0ad4e;
}

.checkbox-warning input[type="checkbox"]:checked+label::after {
	color: #fff;
}

.checkbox-success input[type="checkbox"]:checked+label::before {
	background-color: #5cb85c;
	border-color: #5cb85c;
}

.checkbox-success input[type="checkbox"]:checked+label::after {
	color: #fff;
}
/*************login 登录页 end**************/



/***jf-common-list 通用的大页面列表数据样式 start*******/

.jf-common-list {
	padding: 0px;
}

.jf-common-list .jf-common-item {
	display: block;
	padding: 20px 15px;
	border-bottom: 1px dashed #F5F5F5;
}

.jf-common-list .jf-common-item:first-child {
	padding-top: 0px;
}

.jf-common-list .jf-common-item:last-child {
	border-bottom: none;
}

.jf-common-list .jf-common-logo {
	width: 60px;
	height: 60px;
}

.jf-common-list .jf-common-logo img {
	width: 100%;
	height: 100%;
	margin-top: 5px;
	border-radius: 6px;
}

.jf-common-list .jf-common-item .jf-common-name {
	font-size: 20px;
	padding-bottom: 6px;
	line-height: 1.5;
}

.jf-common-list .jf-common-item .jf-common-other {
	margin-top: 15px;
	text-align: right;
}

.jf-common-list.style2 .jf-common-item .jf-common-other {
	margin-top: 6px;
	text-align: right;
}

.jf-common-list.style3 .jf-common-item .jf-common-other {
	margin-top: 6px;
	text-align: left;
}

 

.jf-common-list.style3 .jf-common-item .jf-common-other span {
	min-width: 40px;

}
.jf-common-list .jf-common-item .jf-common-other a,
.jf-common-list .jf-common-item .jf-common-other span {
	display: inline-block;
	color: #9f9f9f;
	margin-right: 10px;
	min-width: 60px;
	text-align: left;
	vertical-align: top;
}
.jf-common-list .jf-common-item .jf-common-other span:last-child {
	margin-right: 0px;
	margin-left: 10px;
	min-width: 40px;

}

.jf-common-list .jf-common-item .jf-common-name a {
	color: #022856;
}

.jf-common-list .jf-common-item .jf-common-name a:hover {
	color: #007bff;
}

.jf-common-list .jf-common-item .jf-common-brief {
	font-size: 16px;
	line-height: 2;
	overflow-y: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	text-overflow: ellipsis;
}

/***jf-common-list 通用的大页面列表数据样式 end*******/


.jf-feedback-nav {
	float: left;
	margin-bottom: 15px;
	list-style: none;
	padding-left: 0px;
	height: 21px;
	line-height: 21px;
	padding-left: 30px;
}

.jf-feedback-nav .jf-mid {
	display: inline-block;
	height: 10px;
	width: 1px;
	margin: 0 10px;
	vertical-align: middle;
	background-color: #e2e2e2;
}

.jf-feedback-nav a {
	display: inline-block;
	height: 21px;
	line-height: 21px;
	font-size: 14px;
	color: #333;
}

.jf-feedback-nav a.active,
.jf-feedback-nav a:hover {
	color: deepskyblue;
}

.jf-common-logo.jf-feedback-avatar {
	width: 50px;
	height: 50px;
}

.jf-common-username {
	display: inline-block;

	overflow: hidden;
	text-overflow: clip;
	color: #777;
}

.jf-feedback-cat {
	display: inline-block;
	padding: 0px 6px;
	font-size: 12px;
	border: 1px solid #5FB878;
	background: none;
	color: #5FB878;
	margin-right: 10px;
}

.jf-common-name.jf-feedback-title {
	font-size: 16px!important;
	margin-top: 4px;
}

.jf-common-other.jf-feedback-other {
	margin-top: 4px!important;
}

.jf-feedback-tag {
	color: #aaa;
	padding: 0px 6px;
	border-radius: 4px;
	font-size: 14px;
	margin: 0px 2px;
	border: 1px solid #5FB878;
	background: none;
	color: #5FB878;
}

.jf-feedback-ispf {
	background: orange;
	color: white;
	padding: 2px 6px;
	border-radius: 4px;
	font-size: 14px;
	margin: 0px 2px;
}

.jf-feedback-footer {
	width: 150px;
	line-height: 20px;
	font-size: 16px;
	color: #999;
}

.jf-feedback-footer p {
	height: 30px;
	line-height: 30px;
}

.jf-feedback-footer i.fa {
	font-size: 18px;
}

.jf-download-list .list-group-item {
	border-color: transparent;
}

.jf-money {
	display: inline-block;
	width: 60px;
}

.jf-donate-list .list-group-item {
	border-color: #FFF;
}


/************项目********************/

.jf-project-list {}

.jf-project-list .jf-project-item {
	display: block;
	padding: 15px;
	border-radius: 4px;
	border: 1px solid #EEE;
	margin-bottom: 30px;
	text-align: center;
	height: 200px;
}

.jf-project-list.jf-my .jf-project-item {
	height: 220px;
}

.jf-project-list .jf-project-opt {
	font-size: 16px;
}

.jf-project-list .jf-project-opt a {
	margin: 4px 10px;
}

.jf-project-list .jf-project-opt a>i.fa-trash {
	position: relative;
	top: -1px;
}

.jf-project-list .jf-project-logo {
	text-align: center;
	display: block;
}

.jf-project-list .jf-project-logo img {
	width: 60px;
	height: 60px;
	border-radius: 4px;
}

.jf-project-list .jf-project-name {}

.jf-project-list .jf-project-name a {
	display: block;
	font-size: 14px;
	color: #333;
	padding-top: 10px;
	white-space: normal;
	letter-spacing: 0.5px;
	height: 60px;
	line-height: 25px;
	overflow-y: hidden;
}

.jf-project-list .jf-project-info {
	margin-top: 10px;
}

.jf-project-list .jf-project-info span {
	color: #888;
	display: inline-block;
	text-align: center;
	margin: 2px 10px;
}

.jf-project-list .jf-project-item:hover {
	background-color: #F5F5F5;
	border-color: ;
}

.jf-transition {
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
}

.jf-common-logo.jf-comment-avatar {
	width: 40px;
	height: 40px;
}

.jf-common-name.jf-comment-username {
	font-size: 16px!important;
	color: black;
	font-weight: 500;
	display: inline-block;
	padding-bottom: 0px!important;
}

.jf-common-time {
	color: gray;
	font-size: 14px;
}

.jf-comment-count {
	font-size: 16px;
	color: #999;
}

.jf-common-other.jf-comment-content {
	font-size: 16px;
	margin-top: 4px!important;
	line-height: 28px;
}

.jf-comment-opt {
	margin-top: 4px;
	text-align: right;
	display: inline-block;
	float: right;
}

.jf-comment-opt a {
	color: #999;
	font-size: 14px;
	display: inline-block;
	margin-left: 15px;
}

.jf-comment-opt a:hover {
	color: #007bff;
}

.jf-comment-textarea {
	border: none;
	border-bottom: 1px solid black;
	width: 100%;
	padding: 0px;
	word-wrap: break-word;
	word-break: break-all;
	outline: none;
	-moz-outline: 0;
	resize: none;
	overflow: hidden;
	height: 40px;
	font-size: 16px;
}

.jf-project-link {
	font-size: 20px;
}

.jf-project-link a {
	display: inline-block;
	background: #72767b;
	color: #FFFFFF;
	font-size: 18px;
	padding: 2px 10px;
	border-radius: 4px;
}

.jf-project-link a:hover {
	background: #1e4575;
	color: #FFFFFF;
}

.jf-like-collect {
	text-align: right;
	width: 100%;
}

.jf-like-collect a {
	color: #999;
}

.jf-like-collect a:hover {
	color: #007bff;
}

.jf-like-collect a>i {
	display: inline-block;
	font-size: 30px;
	margin-left: 20px;
}

.jf-like-collect a>span {
	display: inline-block;
	font-size: 20px;
	vertical-align: text-bottom;
}

ul.jf-hot-list {
	list-style: none;
	padding-left: 0px;
}

ul.jf-hot-list>li {
	display: block;
	padding: 5px 0px;
}

ul.jf-hot-list>li>a {
	display: block;
	color: #666;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

ul.jf-hot-list>li>a:hover {
	color: #007bff;
}

.jf-donate-list2 {
	font-size: 16px;
	padding: 0px 30px;
	margin-bottom: 30px;
}

.jf-donate-name {
	width: 200px;
}

.jf-donate-list2 .row {
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px dashed #DDD;
}

.jf-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.jf-donate-list2 .jf-ellipsis {
	width: 420px;
}

.jf-donate-list2 .jf-money {
	width: 80px;
}

.jf-donate-remark,
.jf-donate-time {
	color: #999;
}


.jf-my-avatar {
	display: block;
	text-align: center;
	position: relative;
	width: 120px;
	height: 120px;
	margin: 0px auto;
	border-radius: 50%;
	overflow: hidden;
}

.jf-my-avatar img {
	width: 120px;
	height: 120px;
	border-radius: 50%;
}

.jf-my-avatar .jf-my-avatar-editbtn {
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 50%;
}

.jf-my-top {
	padding-left: 15px;
	margin-bottom: 15px;
}

.jf-my-top .col {
	padding-right: 2px!important;
}

.jf-my-top .jf-my-avatar {
	display: inline-block;
	text-align: center;
	position: relative;
	width: 100px;
	height: 100px;
	margin: 0px auto;
	border-radius: 6px;
}

.jf-my-top .jf-my-avatar .jf-my-avatar-editbtn {
	border-radius: 0px;
}

.jf-my-top .jf-my-avatar img {
	width: 100px;
	height: 100px;
	border-radius: 0px;
}

.jf-my-top .jf-my-name {
	margin-top: 10px;
	min-height: 40px;
}

.jf-my-jfinalcom.jf-my-summary a {
	color: #555!important;
	;
	font-size: 14px!important;
	font-weight: normal;
}

.jf-my-avatar-editbtn i.fa {
	color: #FFFFFF;
	font-size: 40px;
}

.jf-my-avatar:hover .jf-my-avatar-editbtn {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
	align-items: Center;
}

.jf-my-name {
	font-size: 20px;
	font-weight: bold;
	color: #333333;
	text-align: center;
	margin: 20px auto;
}

.jf-my-opt-list .list-group-item {
	border-color: transparent;
	text-align: center;
	letter-spacing: 3px;
	font-size: 16px;
}
.jf-my-opt-list.jf-merge{
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #EEE;
}

.jf-my-opt-list .list-group-item.active {
	color: #333;
	background-color: #EEE;
	border-color: #F5F5F5;
}

.jf-my-opt-list .list-group-item i.fa {
	margin-right: 5px;
	font-size: 16px;
}

.jf-my-opt .btn-outline-grey {
	border-color: #DDD;
}

.jf-my-opt .btn-outline-grey:hover {
	background-color: #EEE;
}

.jf-red-dot {
	display: inline-block;
	margin-left: 8px;
	position: relative;
	top: -3px;
	width: 9px;
	height: 9px;
	padding: 0;
	border-radius: 50%;
	display: inline-block;
	font-size: 12px;
	text-align: center;
	background-color: #FF5722;
	color: #fff;
}

.jf-my-clubinfo {
	display: block;
	margin-top: 15px;
	font-size: 14px;
	color: #337AB7;
	text-align: center;
}

.jf-my-summary {
	text-align: center;
	white-space: nowrap;
}

.jf-my-summary a {
	color: #000;
	font-size: 16px;
	font-weight: 500;
}

.jf-my-opt {
	margin-top: 20px;
	text-align: center;
}

.jf-my-opt a {
	display: block;
	margin: auto;
	width: 100px;
}

.jf-my-opt a>i.fa {
	margin-right: 4px;
}

.jf-side-list .list-group-item {
	border-color: transparent;
}

.jf-notice-list a {
	display: block;
	padding: 5px 0px;
	color: #555555;
	font-size: 14px;
}

.jf-notice-list a:not(:last-child) {
	margin-bottom: 10px;
}

.jf-notice-list a>h3 {
	font-size: 14px;
	font-weight: normal;
}

.jf-notice-list a:hover {
	color: #007BFF;
}

.jf-notice-list .jf-common-time {
	font-size: 12px;
	color: #999;
}

.jf-pd0 {
	padding: 0px!important;
}
.jf-pdl0 {
	padding-left: 0px!important;
}
.jf-pdr0 {
	padding-right: 0px!important;
}

.jf-pdlr0 {
	padding-left: 0px!important;
	padding-right: 0px!important;
}

.jf-my-navtabs {
	border-bottom: 1px solid #EEE;
}

.jf-my-navtabs a {
	font-size: 16px;
	color: #666;
	display: inline-block;
	padding: 5px 15px;
	border: 1px solid #EEE;
	border-bottom: none;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	margin: 0px 15px;
}

.jf-my-navtabs a>i.fa {
	margin-right: 4px;
}

.jf-my-navtabs a:hover,
.jf-my-navtabs a.active {
	color: #333;
	background-color: #EEE;
	border-color: #DDD;
}

.jf-my-navtabs2 {
	border-bottom: 2px solid #EEE;
}

.jf-my-navtabs2 a>i.fa {
	margin-right: 4px;
}

.jf-my-navtabs2 a {
	font-size: 16px;
	color: #666;
	display: inline-block;
	padding: 5px 15px;
	border-bottom: 2px solid #EEE;
	margin: 0px 15px;
	position: relative;
	bottom: -2px;
}

.jf-my-navtabs2 a:hover,
.jf-my-navtabs2 a.active {
	color: #333;
	border-color: #337ab7;
}

.jf-my-msglist {
	font-size: 14px!important;
}

.jf-msg-targetlink {
	padding: 5px;
	border-radius: 4px;
	background-color: #EEE;
	margin-top: 10px;
}

.jf-msg-targetlink a {
	font-size: 16px;
	display: inline-block;
	color: #337ab7;
}

.jf-msg-targetlink a>img {
	width: 30px;
	height: 30px;
	border-radius: 4px;
	margin-right: 6px;
}

.jf-my-msglist .jf-common-brief a {
	color: #337ab7;
}

.jf-my-msglist a:hover {
	color: #007bff;
}

.jf-my-homeproject .jf-common-logo {
	width: 34px;
	height: 34px;
	position: relative;
	top: -2px;
}

.jf-my-homeproject .jf-common-name {
	font-size: 16px!important;
	margin-bottom: 0px;
	padding-bottom: 0px!important;
	font-weight: normal;
}

.jf-my-homeproject .jf-common-brief {
	font-size: 12px!important;
	padding: 0px;
	margin: 0px;
	line-height: 1!important;
}

.jf-my-homeproject .col {
	padding-left: 10px!important;
}

.jf-my-homeproject .jf-common-item {
	padding-bottom: 0px;
}

.jf-my-projects .jf-project-item:last-child {
	margin-bottom: 0px;
}

.jf-my-clubdownload {
	margin: 30px 0px;
	text-align: left;
}

.jf-my-clubdownload ul {
	margin: 15px auto;
}

.jf-my-clubdownload ul>li {
	display: block;
	padding: 2px 5px;
	margin-bottom: 6px;
}

.jf-my-clubdownload ul>li>a {
	font-size: 18px;
}

.jf-my-breadcrumb {
	padding: 0px;
	background-color: #FFF;
	margin-bottom: 30px;
}

.jf-my-breadcrumb a {
	color: #666;
}

.jf-pagebox {
	margin: 20px auto;
	text-align: center;
}

.jf-pagebox .pagination {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: center;
	align-items: Center;
}

.jf-pagebox .page-link {
	color: #999;
	padding: 8px 12px;
}

.jf-pagebox .page-item.active .page-link {
	background-color: #EEE;
	border-color: #dee2e6;
	color: #666;
	font-weight: 600;
}

.jf-my-table {}

.jf-my-table a {
	color: #333;
}

.jf-my-table a:hover {
	color: #007BFF;
}

.jf-my-table i.fa {
	padding: 0px 5px;
}

.jf-doc-menus {
	background-color: #FaFaFa;
	color: #333;
}

.jf-doc-scroll {
	padding: 20px 0px;
	width: 300px;
	overflow-x: hidden;
	height: 500px;
	overflow-y: auto;
	background-color: #FFF;
	border-radius: 4px;
	position: fixed;
	top: 80px;
	z-index: 1;
}

body.jf-header-fixed .jf-doc-scroll.fixed {
	position: fixed;
	top: 80px;
}

.jf-doc-scroll.fixed {
	position: fixed;
	top: 10px;
	z-index: 98;
}

.jf-doc-contentbox {
	background: #FFFFFF;
	padding: 15px 30px 30px 30px;
	margin-left: 296px;
	border-radius: 4px;
}

.jf-doc-title {
	padding-bottom: 10px;
	font-size: 30px;
	border-bottom: 1px dashed #DDD;
}

.jf-doc-content {}

.jf-doc-menus h2 {
	font-size: 18px;
	padding: 0px 30px;
}

.jf-doc-menus a {
	color: #333;
}

.jf-doc-menus ul {
	margin: 10px 0px;
}

.jf-doc-menus ul>li {
	list-style: none;
	display: block;
}

.jf-doc-menus ul>li>a {
	display: block;
	padding: 4px 0px;
	margin: 4px 0px;
	padding-left: 45px;
}

.jf-doc-menus ul>li>a:hover {
	background-color: #EEEEEE;
}

.jf-doc-menus ul>li>a.active {
	background-color: #E5E5E5;
}

.jf-doc2 .jf-doc-scroll {
	padding: 20px 15px;
}

.jf-doc2.jf-doc-menus h2 {
	padding-left: 15px!important;
	padding-right: 15px!important;
}

.jf-doc2.jf-doc-menus ul>li>a {
	padding-left: 30px!important;
}

.jf-table-border.table-bordered td,
.jf-table-border.table-bordered th {
	border-color: #F1F1F1!important;
}

.jf-nice-scroll::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	background-color: #DDD;
}

.jf-nice-scroll::-webkit-scrollbar-track {
	background: #EEE;
	border-radius: 2px;
}

.jf-nice-scroll::-webkit-scrollbar-thumb {
	background: #CCC;
	border-radius: 2px;
}

.jf-nice-scroll::-webkit-scrollbar-thumb:hover {
	background: #bbb;
}

.jf-nice-scroll::-webkit-scrollbar-corner {
	background: #ccc;
}

.jf-login-links{
	text-align: right;
}
.jf-login-links a{
	color:#337ab7;
	display: inline-block;
	padding: 5px;
}

.jf-login-links a:hover{
	color: #007bff;
}

h1.jf-login-title{
	letter-spacing: 15px!important;
text-align: center;
font-size: 30px!important;	
}

.jf-common-opt{
	display: inline-block;
	float:right;
	vertical-align: top;
}
.jf-common-opt a{
	display: inline-block;
	padding: 0px 10px!important;
	color: #337ab7!important;
}
.jf-common-opt a:hover{
	color: #007bff!important;
}

.jf-login-captcha{
	position: absolute;
	right:10px;
	bottom:2px;
	width: 100px;
	height: 35px;
}
